# Database
DATABASE_URL="file:./prisma/dev.db"

# Admin credentials
ADMIN_USERNAME=
ADMIN_PASSWORD=

# JWT Secret - generate random string for production
JWT_SECRET=

# Site URL
NEXT_PUBLIC_SITE_URL=https://mstreetmusic.hr

# Google Analytics
NEXT_PUBLIC_GA_ID=

# SMTP
SMTP_HOST=
SMTP_PORT=465
SMTP_USER=
SMTP_PASS=
NOTIFICATION_EMAIL=
